* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #dde5ec !important;
}
.grid {
  padding-top: 15%;
}

@media (min-width: 720px) {
  .grid {
    padding-top: 10%;
  }
}
.container {
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 5vh;
}
.wrapper {
  margin-bottom: 10px;
  padding: 7px 20px;
  border-radius: 5px;
  border: 0.5px solid rebeccapurple;
}
.img {
  display: none;
}

.toggle,
.content {
  font-family: "Poppins", sans-serif;
  color: antiquewhite;
}
.toggle {
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: #020211;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 0;
}
.content {
  font-size: 14px;
  text-align: justify;
  line-height: 1.7;
  height: 0;
  color: black;
  overflow: hidden;
  transition: all 1s;
  backdrop-filter: blur(5px);
}
a {
  text-decoration: none;
  align-items: center;
  align-content: center;
}

h2 {
  margin: 2vh auto;
  color: black;
  text-align: center;
  width: 50%;
  letter-spacing: 1px;
  padding: 5px 0px;
}

.docs {
  margin-bottom: 20px;
  padding: 10px 30px;
  border-radius: 5px;
  text-align: center;
  color: dimgray;
  font-size: 20px;
  transition: color 500ms ease-in-out;
  white-space: no-wrap;
}

.docs:hover {
  color: blue;
}

footer .container h2 {
  width: fit-content;
  color: white;
  margin: 5% auto;
}

@media only screen and (max-width: 410px) {
  .toggle {
    font-size: 12px;
  }
  .content {
    font-size: 11px;
    text-align: justify;
    line-height: 20px;
    height: 0;
    overflow: hidden;
    transition: all 1s;
  }
  .docs {
    padding: 0;
  }
}
@media only screen and (min-width: 770px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 2.2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: flex-start;
    align-items: center;
  }
  .image {
    background-color: transparent;
    background-image: url(./faq.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 100%;
  }
}
