* {
  padding: 0;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0;
  overflow-x: hidden;
}
.stage {
  margin: 100px 0 0 0;
  padding: 0 7vw;
}
.stage p {
  color: white;
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}
nav {
  position: fixed;
  top: 0;
}
.career-page {
  max-height: auto;
  padding: 3%;
  width: 100%;
  display: grid;
  gap: 2%;
  grid-template-columns: repeat(auto-fit, minmax(auto, 350px));
  justify-content: center;
  padding: 0 7vw;
}
.available-positions {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border-radius: 5px;
  color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  border: 1px solid #f5f5f5;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.available-positions:hover {
  background-color: #f5f5f5;
  transform: translateY(-3px);
  color: #000;
  cursor: pointer;
}
