.video {
  padding-top: 10%;
}
h1 {
  color: #fff;
  text-align: center;
  font-size: clamp(3rem, 3vw, 5rem);
  font-family: "robotomedium";
}
h1:hover {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  cursor: progress;
}
@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}
svg#freepik_stories-hand-coding:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #freepik--Table--inject-15 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0s;
}
svg#freepik_stories-hand-coding.animated #eljw12oygvejn {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 5s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #el764ofpbgsl6 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.2s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #ellrj652js3q {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.4s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #el7qc3kq8hoo {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.6000000000000001s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #elfc4klzf783j {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.8s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #freepik--Gears--inject-15 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 5s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #freepik--Device--inject-15 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 1s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #freepik--speech-bubble--inject-15 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 3s;
  opacity: 0;
}
svg#freepik_stories-hand-coding.animated #freepik--hand-2--inject-15 {
  animation: 1.5s Infinite linear floating;
  animation-delay: 2.2s;
}
svg#freepik_stories-hand-coding.animated #freepik--hand-1--inject-15 {
  animation: 1.5s Infinite linear floating;
  animation-delay: 1.9s;
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: inherit;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes floating {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
