footer {
  background-color: black;
  width: 100%;
  list-style-type: none;
  color: white;
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    justify-items: start;
    align-items: stretch;
    margin: 0 3%;
    line-height: 2;
    @media (min-width: $bp-tablet-1) {
      text-align: center;
    }
    @media (min-width: $bp-tablet) {
      display: flex;
      flex-direction: row;
    }
    .socials,
    .resources,
    .jobs,
    .contact {
      width: 100%;
      h2 {
        margin: 5% auto;
        font-size: $h3;
        font-family: "robotoregular";
        font-weight: 300;
        span {
          font-size: 20px;
        }
      }
      li {
        list-style: none;
        font-size: $p;
        margin: 5%;
        font-family: "robotolight_italic";
        a:link {
          text-decoration: none;
          color: gray;
          transition: color 300ms ease-in-out;
        }
        a:visited {
          text-decoration: none;
          color: gray;
        }
        a:hover {
          text-decoration: none;
          color: aqua;
        }
        svg {
          font-size: 24px;
        }
      }
    }
  }
  .hr {
    width: 70%;
    margin: 1em auto;
    margin-bottom: 0;
    .copyright {
      line-height: 1.6rem;
      position: relative;
      outline: 0;
      border: 0;
      color: white;
      text-align: center;
      height: 2.1rem;
      opacity: 0.5;
      &:before {
        content: "";
        background: linear-gradient(
          to right,
          transparent,
          #818078,
          transparent
        );
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
      }
      &:after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        color: white;
        padding: 0 0.8em;
        line-height: 2.1rem;
        color: #818078;
        background-color: black;
      }
    }
  }
  p {
    text-align: center;
    padding: 1em;
  }
}
