main {
  background-image: url("../assets/svg/black.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  header {
    margin: 0 3%;
    height: fit-content;
    max-width: 100%;
    color: white;
    overflow: hidden;
    padding-top: 10%;
    @media (min-width: $bp-tablet) {
      display: flex;
      justify-content: space-between;
      .hero {
        order: 1;
        position: relative;
        .hero-content {
          max-width: 75%;
          position: relative;
          text-align: left;
          top: 25%;
        }
      }
      .hero_image {
        width: 60%;
        max-width: 70%;
        order: 2;
      }
    }
    @media (min-width: $bp-pc) {
      @media (max-height: 700px) {
        height: 100vh;
      }
    }
    .hero {
      width: 90%;
      min-width: 45ch;
      margin: auto;
      padding: 1em 0;
      text-align: center;
      h1 {
        font-size: $h1;
        font-family: "robotobold";
        line-height: 1.3;
      }
      h2 {
        font-size: $h2;
        line-height: 1.5;
        font-family: "robotobold";
        .magic {
          display: inline-block;
          position: relative;
          .magic-star {
            --size: clamp(20px, 1.5vw, 30px);
            animation: scale 700ms ease forwards;
            display: block;
            height: var(--size);
            left: var(--star-left);
            position: absolute;
            top: var(--star-top);
            width: var(--size);
            svg {
              animation: rotate 1000ms linear infinite;
              display: block;
              opacity: 0.7;
              path {
                fill: var(--violet);
              }
            }
          }
          .magic-text {
            animation: background-pan 3s linear infinite;
            background: linear-gradient(
              to right,
              var(--purple),
              var(--violet),
              var(--pink),
              var(--purple)
            );
            background-size: 200%;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            white-space: nowrap;
            font-family: "planet_gamersregular";
          }
        }
      }
      p {
        font-size: $p2;
        color: white;
        font-family: "robotoregular";
        line-height: 1.32;
        .blue {
          color: #4bcfe5;
        }
      }
      button {
        background-image: url(../assets/svg/downarrow.svg);
        border: 0;
        margin: 1em 0;
        height: 30px;
        background-repeat: no-repeat;
        padding: 0.4em 2em;
        font-size: $button;
        font-family: "robotoblack";
        cursor: pointer;
        animation: jump 4s ease-in 4 forwards;
        background-color: transparent;
        border-radius: 100%;
        &:hover {
          box-shadow: 2px 2px 3px gray;
        }
      }
    }
    .hero_image {
      background-color: transparent;
      max-width: 100%;
      height: 40rem;
      max-height: 60%;
      background-image: url(../assets/images/hero_image.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      @media (min-width: $bp-phone-1) {
        max-height: 100%;
      }
    }
  }
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

@keyframes scale {
  from,
  to {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

@keyframes jump {
  10% {
    transform: translateY(20px);
  }
  40% {
    transform: translateY(0px);
  }
  70% {
    transform: translateY(20px);
  }
  90% {
    transform: translateY(0px);
  }
}
