a:link {
  text-decoration: none;
  color: #4dd5eb;
}
a:visited {
  text-decoration: none;
  color: #4dd5eb;
}
a:hover {
  text-decoration: none;
  color: $textSec;
}
a:active {
  text-decoration: none;
}
