@mixin flexcontent {
  display: flex;
  border: 0.4px solid rgb(47, 192, 219);
  padding: 1.5em;
  line-height: 2;
  box-shadow: 16.7px 16.7px 2.2px rgba(0, 0, 0, 0.002),
    27.6px 27.6px 5.3px rgba(0, 0, 0, 0.007),
    36.2px 36.2px 10px rgba(0, 0, 0, 0.048),
    45.2px 45.2px 17.9px rgba(0, 0, 0, 0.065),
    59px 59px 33.4px rgba(158, 37, 37, 0.069),
    100px 100px 80px rgba(0, 0, 0, 0.07);
  padding: 10px;
  flex-direction: column;
  color: white;
  height: fit-content;
  border-radius: 7px;
  background-color: #1f1f24;
}
@mixin img($image) {
  background-image: url($image);
  background-position: center center;
  background-size: contain;
  width: 100%;
  order: 2;
  background-repeat: no-repeat;
  padding: 15em;
}
@mixin h3 {
  text-transform: uppercase;
  font-weight: 400;
  color: rgb(47, 192, 219);
  font-size: $h2;
  text-align: center;
  font-family: "robotoblack";
}
@mixin description {
  order: 1;
  text-align: justify;
  font-size: $p;
  width: 100%;
  font-family: "robotoregular";
}
@mixin media {
  @media (max-width: 340px) {
    padding: 10em;
  }
}
@mixin order {
  order: 1;
}

#products {
  width: 100%;
  background-color: black;
  background-image: url("../assets/svg/star.svg");
  h2 {
    text-align: center;
    font-size: $h1;
    padding: 2.8rem;
    color: white;
    font-family: "robotobold";
  }
  .grid-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: stretch;
    margin: 0 5%;
    @media (min-width: $bp-tablet) {
      margin: 0 3%;
    }
    @media (min-width: $bp-pc) {
      margin: 0 1%;
    }
    .marketplace,
    .lending,
    .game-guild,
    .launchpad,
    .bridge {
      margin: 4% auto;
      width: min(100%, 700px);
      transition: all 500ms ease-in-out;
      @media (min-width: $bp-tablet) {
        margin: 2% auto;
      }
      @media (min-width: $bp-pc) {
        margin: 1% auto;
      }
      @include flexcontent();
      .description {
        height: 100%;
        opacity: 1;
        transition: all 500ms ease-in-out;
      }
      .img {
        @include img("../assets/images/marketplace.png");
        @include media();
      }
      &:hover {
        .description {
          height: 100%;
          opacity: 1;
          @include description();
          @media (min-width: $bp-tablet) {
            text-align: left;
          }
          p {
            margin: 0 auto;
            width: min(100%, 550px);
          }
        }
      }
    }
    .lending {
      .img {
        @include img("../assets/images/lending.png");
        @include media();
      }
    }
    .game-guild {
      .img {
        @include img("../assets/images/game-guild.png");
        @include media();
      }
    }
    .launchpad {
      .img {
        @include img("../assets/images/launchpad.png");
        @include media();
      }
    }
    .bridge {
      .img {
        @include img("../assets/images/bridge.png");
        @include media();
      }
    }
    h3 {
      @include h3();
    }
  }
}

.slider-main-container{
  height: 100%;
  overflow: hidden;
  position: relative;
  }
  .slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
  }
  .slide.active{
  display: flex;
  }
  .caption-container, .image-container{
  width: 50%;
  height: 100%;
  margin: auto;
  background: #FFF;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .caption{
  width: 70%;
  margin: auto;
  }
  .caption h1{
  font-size: 40px;
  font-family: "Verdana", sans-serif;
  font-weight: bold;
  letter-spacing: -3px;
  margin: 0px;
  }
  .slide.active .caption h1{
  opacity: 0;
  animation: caption-animation 0.5s ease forwards;
  animation-delay: 0.6s;
  }
  .caption p{
  font-size: 18px;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  margin: 15px 0px 30px;
  text-align: justify;
  }
  .slide.active .caption p{
  opacity: 0;
  animation: caption-animation 0.5s ease forwards;
  animation-delay: 0.8s;
  }
  .caption a{
  font-family: "Arial", sans-serif;
  font-weight: bold;
  padding: 10px 30px;
  background: #000;
  color: #FFF;
  text-decoration: none;
  border: 3px solid #000;
  }
  .slide.active .caption a{
  opacity: 0;
  animation: caption-animation 0.5s ease forwards;
  animation-delay: 1.2s;
  }
  .image-container{
  right: 0px;
  background: transparent;
  }
  .image-container img{
  width: 260px;
  height: 260px;
  margin: auto;
  animation: img-animation 2s ease;
  }
  .controls .prev,
  .controls .next{
  position: absolute;
  z-index: 2;
  bottom: 20px;
  margin: auto;
  text-align: center;
  cursor: pointer;
  }
  .controls .prev:hover,
  .controls .next:hover{
  opacity: 0.8;
  }
  .controls .prev{
  right: 80px;
  }
  .controls .next{
  right: 40px;
  }
  .indicator{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 10px;
      z-index: 2;
      }
      .indicator div{
      display: inline-block;
      width: 15px;
      height: 15px;
      background: orange;
      border: 3px solid #000;
      border-radius: 50%;
      margin: 0px 3px;
      cursor: pointer;
      }
      .indicator div.active{
      background: #FFF;
      }
      @keyframes caption-animation {
          0%{
          opacity: 0;
          transform: translateY(100px);
          }
          100%{
          opacity: 1;
          transform: translateY(0px);
          }
          }
          @keyframes img-animation {
          0%{
          opacity: 0;
          }
          100%{
          opacity: 1;
          }
          }
          .wrapper{
              height:70vh;
              position: relative;
              z-index: 4;
              background-color: red;
          }
          @media only screen and (max-width: 1024px) {
              .slider-main-container{
              height: 100%;
              }
              }
              @media only screen and (max-width: 980px) {
              .caption-container, .image-container{
              width: 100%;
              left: 0px;
              top: 0px;
              }
              .image-container{
              opacity: 0.3;
              }
              .caption-container{
              background: transparent;
              }
              .caption-container h1{
              font-size: 36px;
              }
              }
              @media only screen and (max-width: 650px) {
              .caption{
              width: 90%;
              }
              .controls .prev{
              right: 50px;
              }
              .controls .next{
              right: 10px;
              }
              }
              @media only screen and (max-width: 440px) {
              .caption{
              width: 95%;
              }
              .caption-container h1{
              font-size: 34px;
              }
              }
                        
