.roadmap-section {
  width: 100%;
  display: flex;
  background-color: #000000;
  background-image: url("../assets/svg/star.svg");
  background-attachment: fixed;
  background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  animation-name: fade-up;
  flex-direction: column;
  gap: 1rem;
  section {
    h2 {
      color: #fff;
      font-size: $h1;
      font-family: "kalam" serif;
      text-align: center;
    }
    .container {
      margin: 1% 5%;
    }
    .reveal {
      position: relative;
      transform: translateY(150px);
      opacity: 0;
      transition: 1s all ease;
    }
  }
  .reveal.active {
    transform: translateY(0);
    opacity: 1;
  }
  .first-quarter,
  .second-quarter,
  .third-quarter,
  .fourth-quarter,
  .fifth-quarter {
    margin: auto;
    margin-top: 10px;
    border-left: 5px solid gray;
    height: auto;
    color: #fff;
    font-size: $p1;
    font-family: kalam;
    line-height: 1.55;
    background: transparent;
    transition: background 1s ease-out;
    padding: 3.5rem;
    @media (min-width: $bp-phone-1) {
      width: 85%;
    }
    @media (min-width: $bp-phone) {
      width: 80%;
    }
    @media (min-width: $bp-tablet) {
      width: 70%;
    }
    @media (min-width: $bp-pc) {
      width: 50%;
    }
    &:hover {
      background: rgba(128, 128, 128, 0.372);
    }
    h2 {
      text-align: center;
    }
    li {
      list-style-type: circle;
    }
  }
}
