$Background: #192233;
$color: #f8fafb;
$textSec: #eca355;
$link: #e174b7;
$neutralW: #ffffff;
$neutralB: #000000;
$neutralG: #9ca0a8;
// $gradient1:

$h1: clamp(3rem, 3vw, 5rem);
$h2: clamp(2em, 2.5vw, 4em);
$h3: clamp(1.8em, 2.1vw, 3.5em);
$p: clamp(1.6rem, 1.2vw, 2.2rem);
$p1: clamp(1.6rem, 1.6vw, 2.2rem);
$p2: clamp(1.5rem, 1.7vw, 2rem);
$button: clamp(0.5rem, 0.6vw, 0.8rem);

// Responsive design
$bp-phone-1: 360px;
$bp-phone: 480px;
$bp-tablet-1: 520px;
$bp-tablet: 720px;
$bp-pc: 1025px;
$bp-tv: 1600px;
