:root {
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth !important;
  scroll-padding-top: var(--scroll-padding, 150px);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: black;
  overflow-x: hidden;
  overflow-y: scroll;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: transparent;
  border-radius: 10px;
  width: 15px;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #000000;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  border-right: 3px solid transparent;
  border-left: 4px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-clip: content-box;
  background-color: #ffffff;
  width: 20px;
  -webkit-transition: all 5s;
  transition: all 5s;
}

body::-webkit-scrollbar-thumb:hover {
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-clip: content-box;
  background-color: #ffffff;
  width: 20px;
}

.preloader {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 100000;
  background-image: url(../assets/svg/star.svg);
  opacity: 1;
  display: block;
  -webkit-animation-name: preloader;
          animation-name: preloader;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes preloader {
  100% {
    z-index: -300;
    background: none;
    display: none;
  }
}

@keyframes preloader {
  100% {
    z-index: -300;
    background: none;
    display: none;
  }
}
.spinner {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  -webkit-animation: disappear 3s forwards;
          animation: disappear 3s forwards;
}

@-webkit-keyframes disappear {
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes disappear {
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.loader {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loader::before,
.loader::after {
  content: "";
  border: 5px solid white;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  opacity: 1;
  -webkit-animation: appear 3s forwards;
          animation: appear 3s forwards;
}

@-webkit-keyframes appear {
  30% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.3;
  }
  80% {
    opacity: 0;
  }
}

@keyframes appear {
  30% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.3;
  }
  80% {
    opacity: 0;
  }
}
.l1::before,
.l1::after {
  -webkit-animation: clockwiseZ 3s infinite;
          animation: clockwiseZ 3s infinite;
}

.l2::after,
.l2::before {
  -webkit-animation: anticlockwiseZ 3s infinite;
          animation: anticlockwiseZ 3s infinite;
}

@-webkit-keyframes clockwiseZ {
  50% {
    -webkit-transform: rotateY(180deg) skew(-10deg, -5deg);
            transform: rotateY(180deg) skew(-10deg, -5deg);
  }
  80% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 0;
  }
}

@keyframes clockwiseZ {
  50% {
    -webkit-transform: rotateY(180deg) skew(-10deg, -5deg);
            transform: rotateY(180deg) skew(-10deg, -5deg);
  }
  80% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 0;
  }
}
@-webkit-keyframes anticlockwiseZ {
  50% {
    -webkit-transform: rotateX(-180deg) skew(10deg, 5deg);
            transform: rotateX(-180deg) skew(10deg, 5deg);
  }
  80% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 0;
  }
}
@keyframes anticlockwiseZ {
  50% {
    -webkit-transform: rotateX(-180deg) skew(10deg, 5deg);
            transform: rotateX(-180deg) skew(10deg, 5deg);
  }
  80% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 0;
  }
}
@font-face {
  font-family: "robotoblack";
  src: url("../fonts/roboto-black-webfont.woff2") format("woff2"), url("../fonts/roboto-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "robotoblack_italic";
  src: url("../fonts/roboto-blackitalic-webfont.woff2") format("woff2"), url("../fonts/roboto-blackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "robotobold";
  src: url("../fonts/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "robotobold_italic";
  src: url("../fonts/roboto-bolditalic-webfont.woff2") format("woff2"), url("../fonts/roboto-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "robotoitalic";
  src: url("../fonts/roboto-italic-webfont.woff2") format("woff2"), url("../fonts/roboto-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "robotolight";
  src: url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "robotolight_italic";
  src: url("../fonts/roboto-lightitalic-webfont.woff2") format("woff2"), url("../fonts/roboto-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "robotomedium";
  src: url("../fonts/roboto-medium-webfont.woff2") format("woff2"), url("../fonts/roboto-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "robotomedium_italic";
  src: url("../fonts/roboto-mediumitalic-webfont.woff2") format("woff2"), url("../fonts/roboto-mediumitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "robotoregular";
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "robotothin";
  src: url("../fonts/roboto-thin-webfont.woff2") format("woff2"), url("../fonts/roboto-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "robotothin_italic";
  src: url("../fonts/roboto-thinitalic-webfont.woff2") format("woff2"), url("../fonts/roboto-thinitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "batopikaregular";
  src: url("../fonts/batopika-webfont.woff2") format("woff2"), url("../fonts/batopika-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "planet_gamersregular";
  src: url("../fonts/planet_gamers-webfont.woff2") format("woff2"), url("../fonts/planet_gamers-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
a:link {
  text-decoration: none;
  color: #4dd5eb;
}

a:visited {
  text-decoration: none;
  color: #4dd5eb;
}

a:hover {
  text-decoration: none;
  color: #eca355;
}

a:active {
  text-decoration: none;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  grid-column-gap: 20%;
  justify-items: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  z-index: 99;
  padding: 1em;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(29.5px);
  -webkit-backdrop-filter: blur(9.5px);
}
nav .logo {
  background-image: url(../assets/images/logo.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 13em;
  max-width: 70%;
  height: 100%;
  margin: 0 auto;
}
nav .start {
  font-size: clamp(2em, 2.5vw, 4em);
  text-align: right;
  color: purple;
  padding-right: 1em;
}
nav ul {
  display: none;
}

@media (min-width: 720px) {
  nav {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 10%;
    justify-items: stretch;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    width: 100%;
    z-index: 99;
    background-color: transparent;
  }
  nav .logo {
    background-image: url(../assets/images/logo.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 13em;
    max-width: 70%;
    height: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 720px) and (min-width: 720px) {
  nav .logo {
    width: 50%;
    margin-left: 1em;
  }
}
@media (min-width: 720px) {
  nav .start {
    display: none;
  }
}
@media (min-width: 720px) {
  nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3%;
    grid-row-gap: 0%;
    justify-items: stretch;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 4rem;
    padding: 0 5em;
    border-bottom-left-radius: 5px;
  }
}
@media (min-width: 720px) {
  nav li {
    list-style: none;
    font-size: clamp(1.6rem, 1.2vw, 2.2rem);
    font-family: "robotoregular";
    color: #4dd5eb;
  }
  nav li a:link {
    color: #4dd5eb;
  }
}
main {
  background-image: url("../assets/svg/black.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
main header {
  margin: 0 3%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 100%;
  color: white;
  overflow: hidden;
  padding-top: 10%;
}
@media (min-width: 720px) {
  main header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main header .hero {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: relative;
  }
  main header .hero .hero-content {
    max-width: 75%;
    position: relative;
    text-align: left;
    top: 25%;
  }
  main header .hero_image {
    width: 60%;
    max-width: 70%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (min-width: 1025px) and (max-height: 700px) {
  main header {
    height: 100vh;
  }
}
main header .hero {
  width: 90%;
  min-width: 45ch;
  margin: auto;
  padding: 1em 0;
  text-align: center;
}
main header .hero h1 {
  font-size: clamp(3rem, 3vw, 5rem);
  font-family: "robotobold";
  line-height: 1.3;
}
main header .hero h2 {
  font-size: clamp(2em, 2.5vw, 4em);
  line-height: 1.5;
  font-family: "robotobold";
}
main header .hero h2 .magic {
  display: inline-block;
  position: relative;
}
main header .hero h2 .magic .magic-star {
  --size: clamp(20px, 1.5vw, 30px);
  -webkit-animation: scale 700ms ease forwards;
          animation: scale 700ms ease forwards;
  display: block;
  height: var(--size);
  left: var(--star-left);
  position: absolute;
  top: var(--star-top);
  width: var(--size);
}
main header .hero h2 .magic .magic-star svg {
  -webkit-animation: rotate 1000ms linear infinite;
          animation: rotate 1000ms linear infinite;
  display: block;
  opacity: 0.7;
}
main header .hero h2 .magic .magic-star svg path {
  fill: var(--violet);
}
main header .hero h2 .magic .magic-text {
  -webkit-animation: background-pan 3s linear infinite;
          animation: background-pan 3s linear infinite;
  background: -webkit-gradient(linear, left top, right top, from(var(--purple)), color-stop(var(--violet)), color-stop(var(--pink)), to(var(--purple)));
  background: linear-gradient(to right, var(--purple), var(--violet), var(--pink), var(--purple));
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  font-family: "planet_gamersregular";
}
main header .hero p {
  font-size: clamp(1.5rem, 1.7vw, 2rem);
  color: white;
  font-family: "robotoregular";
  line-height: 1.32;
}
main header .hero p .blue {
  color: #4bcfe5;
}
main header .hero button {
  background-image: url(../assets/svg/downarrow.svg);
  border: 0;
  margin: 1em 0;
  height: 30px;
  background-repeat: no-repeat;
  padding: 0.4em 2em;
  font-size: clamp(0.5rem, 0.6vw, 0.8rem);
  font-family: "robotoblack";
  cursor: pointer;
  -webkit-animation: jump 4s ease-in 4 forwards;
          animation: jump 4s ease-in 4 forwards;
  background-color: transparent;
  border-radius: 100%;
}
main header .hero button:hover {
  -webkit-animation: jump2 2s ease-in 1 forwards;
          animation: jump2 2s ease-in 1 forwards;
}
main header .hero_image {
  background-color: transparent;
  max-width: 100%;
  height: 40rem;
  max-height: 60%;
  background-image: url(../assets/images/hero-image.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
@media (min-width: 360px) {
  main header .hero_image {
    max-height: 100%;
  }
}

@-webkit-keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}
@-webkit-keyframes scale {
  from, to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale {
  from, to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@-webkit-keyframes jump {
  10% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  40% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  70% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  90% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes jump {
  10% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  40% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  70% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  90% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@-webkit-keyframes jump2 {
  30% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  65% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes jump2 {
  30% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  65% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
.bottomMenu {
  position: fixed;
  bottom: 20px;
  width: 2%;
  right: 10px;
  height: 30px;
  border: 0;
  background: none;
  border-radius: 100%;
  z-index: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.hide {
  opacity: 0;
  right: -100%;
}

.show {
  opacity: 1;
  width: 30px;
  background-image: url(../assets/svg/uparrow.svg);
  right: 10px;
  background-size: 100%;
  background-repeat: no-repeat;
}
@media (max-width: 540px) {
  .show {
    width: 30px;
    background-repeat: no-repeat;
    border-radius: 100%;
    height: 30px;
    background-color: none;
  }
}

.show:hover {
  -webkit-animation: jump 2s ease-in 1 forwards;
          animation: jump 2s ease-in 1 forwards;
}

@keyframes jump {
  30% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  65% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
article {
  background-color: #dde5ec;
  color: black;
}
article aside {
  text-align: center;
  max-width: 100%;
}
article aside h2 {
  font-size: clamp(2em, 2.5vw, 4em);
  padding: 4% 0 2% 0;
}
article aside p {
  margin: 0.4rem auto;
  font-size: clamp(1.5rem, 1.7vw, 2rem);
  max-width: 90%;
  margin-bottom: 12%;
}
article aside #about-image {
  background-image: url(../assets/images/mobile-distant.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 15em;
  min-height: 20em;
}
@media (min-width: 360px) {
  article aside #about-image {
    margin-top: -3%;
  }
}
@media (min-width: 480px) {
  article aside #about-image {
    height: 25em;
    min-height: 31em;
    margin-top: -5%;
  }
}
@media (min-width: 720px) {
  article aside #about-image {
    background-image: url(../assets/images/tablet-distant.png);
    margin-top: -10%;
  }
}
@media (min-width: 950px) {
  article aside #about-image {
    background-size: contain;
  }
}
@media (min-width: 1300px) {
  article aside #about-image {
    background-image: url(../assets/images/pc-version.png);
  }
}
@media (min-width: 1600px) {
  article aside #about-image {
    background-image: url(../assets/images/pc-distant.png);
  }
}

.intro {
  -webkit-transform: translateY(-24%);
          transform: translateY(-24%);
  -webkit-transition: all 700ms ease-in-out;
  transition: all 700ms ease-in-out;
}

.intro-text {
  width: min(100%, 600px);
}

.intro.active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

#products {
  width: 100%;
  background-color: black;
  background-image: url("../assets/svg/star.svg");
}
#products h2 {
  text-align: center;
  font-size: clamp(3rem, 3vw, 5rem);
  padding: 2.8rem;
  color: white;
  font-family: "robotobold";
}
#products .grid-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: stretch;
  margin: 0 5%;
}
@media (min-width: 720px) {
  #products .grid-content {
    margin: 0 3%;
  }
}
@media (min-width: 1025px) {
  #products .grid-content {
    margin: 0 1%;
  }
}
#products .grid-content .marketplace,
#products .grid-content .lending,
#products .grid-content .game-guild,
#products .grid-content .launchpad,
#products .grid-content .bridge {
  margin: 4% auto;
  width: min(100%, 700px);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0.4px solid rgb(47, 192, 219);
  padding: 1.5em;
  line-height: 2;
  -webkit-box-shadow: 16.7px 16.7px 2.2px rgba(0, 0, 0, 0.002), 27.6px 27.6px 5.3px rgba(0, 0, 0, 0.007), 36.2px 36.2px 10px rgba(0, 0, 0, 0.048), 45.2px 45.2px 17.9px rgba(0, 0, 0, 0.065), 59px 59px 33.4px rgba(158, 37, 37, 0.069), 100px 100px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 16.7px 16.7px 2.2px rgba(0, 0, 0, 0.002), 27.6px 27.6px 5.3px rgba(0, 0, 0, 0.007), 36.2px 36.2px 10px rgba(0, 0, 0, 0.048), 45.2px 45.2px 17.9px rgba(0, 0, 0, 0.065), 59px 59px 33.4px rgba(158, 37, 37, 0.069), 100px 100px 80px rgba(0, 0, 0, 0.07);
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 7px;
  background-color: #1f1f24;
}
@media (min-width: 720px) {
  #products .grid-content .marketplace,
#products .grid-content .lending,
#products .grid-content .game-guild,
#products .grid-content .launchpad,
#products .grid-content .bridge {
    margin: 2% auto;
  }
}
@media (min-width: 1025px) {
  #products .grid-content .marketplace,
#products .grid-content .lending,
#products .grid-content .game-guild,
#products .grid-content .launchpad,
#products .grid-content .bridge {
    margin: 1% auto;
  }
}
#products .grid-content .marketplace .description,
#products .grid-content .lending .description,
#products .grid-content .game-guild .description,
#products .grid-content .launchpad .description,
#products .grid-content .bridge .description {
  height: 100%;
  opacity: 1;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
#products .grid-content .marketplace .img,
#products .grid-content .lending .img,
#products .grid-content .game-guild .img,
#products .grid-content .launchpad .img,
#products .grid-content .bridge .img {
  background-image: url("../assets/images/marketplace.png");
  background-position: center center;
  background-size: contain;
  width: 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background-repeat: no-repeat;
  padding: 15em;
}
@media (max-width: 340px) {
  #products .grid-content .marketplace .img,
#products .grid-content .lending .img,
#products .grid-content .game-guild .img,
#products .grid-content .launchpad .img,
#products .grid-content .bridge .img {
    padding: 10em;
  }
}
#products .grid-content .marketplace:hover .description,
#products .grid-content .lending:hover .description,
#products .grid-content .game-guild:hover .description,
#products .grid-content .launchpad:hover .description,
#products .grid-content .bridge:hover .description {
  height: 100%;
  opacity: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-align: justify;
  font-size: clamp(1.6rem, 1.2vw, 2.2rem);
  width: 100%;
  font-family: "robotoregular";
}
@media (min-width: 720px) {
  #products .grid-content .marketplace:hover .description,
#products .grid-content .lending:hover .description,
#products .grid-content .game-guild:hover .description,
#products .grid-content .launchpad:hover .description,
#products .grid-content .bridge:hover .description {
    text-align: left;
  }
}
#products .grid-content .marketplace:hover .description p,
#products .grid-content .lending:hover .description p,
#products .grid-content .game-guild:hover .description p,
#products .grid-content .launchpad:hover .description p,
#products .grid-content .bridge:hover .description p {
  margin: 0 auto;
  width: min(100%, 550px);
}
#products .grid-content .lending .img {
  background-image: url("../assets/images/lending.png");
  background-position: center center;
  background-size: contain;
  width: 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background-repeat: no-repeat;
  padding: 15em;
}
@media (max-width: 340px) {
  #products .grid-content .lending .img {
    padding: 10em;
  }
}
#products .grid-content .game-guild .img {
  background-image: url("../assets/images/game-guild.png");
  background-position: center center;
  background-size: contain;
  width: 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background-repeat: no-repeat;
  padding: 15em;
}
@media (max-width: 340px) {
  #products .grid-content .game-guild .img {
    padding: 10em;
  }
}
#products .grid-content .launchpad .img {
  background-image: url("../assets/images/launchpad.png");
  background-position: center center;
  background-size: contain;
  width: 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background-repeat: no-repeat;
  padding: 15em;
}
@media (max-width: 340px) {
  #products .grid-content .launchpad .img {
    padding: 10em;
  }
}
#products .grid-content .bridge .img {
  background-image: url("../assets/images/bridge.png");
  background-position: center center;
  background-size: contain;
  width: 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background-repeat: no-repeat;
  padding: 15em;
}
@media (max-width: 340px) {
  #products .grid-content .bridge .img {
    padding: 10em;
  }
}
#products .grid-content h3 {
  text-transform: uppercase;
  font-weight: 400;
  color: rgb(47, 192, 219);
  font-size: clamp(2em, 2.5vw, 4em);
  text-align: center;
  font-family: "robotoblack";
}

.slider-main-container {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}

.slide.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.caption-container, .image-container {
  width: 50%;
  height: 100%;
  margin: auto;
  background: #FFF;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.caption {
  width: 70%;
  margin: auto;
}

.caption h1 {
  font-size: 40px;
  font-family: "Verdana", sans-serif;
  font-weight: bold;
  letter-spacing: -3px;
  margin: 0px;
}

.slide.active .caption h1 {
  opacity: 0;
  -webkit-animation: caption-animation 0.5s ease forwards;
          animation: caption-animation 0.5s ease forwards;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.caption p {
  font-size: 18px;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  margin: 15px 0px 30px;
  text-align: justify;
}

.slide.active .caption p {
  opacity: 0;
  -webkit-animation: caption-animation 0.5s ease forwards;
          animation: caption-animation 0.5s ease forwards;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.caption a {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  padding: 10px 30px;
  background: #000;
  color: #FFF;
  text-decoration: none;
  border: 3px solid #000;
}

.slide.active .caption a {
  opacity: 0;
  -webkit-animation: caption-animation 0.5s ease forwards;
          animation: caption-animation 0.5s ease forwards;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.image-container {
  right: 0px;
  background: transparent;
}

.image-container img {
  width: 260px;
  height: 260px;
  margin: auto;
  -webkit-animation: img-animation 2s ease;
          animation: img-animation 2s ease;
}

.controls .prev,
.controls .next {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  margin: auto;
  text-align: center;
  cursor: pointer;
}

.controls .prev:hover,
.controls .next:hover {
  opacity: 0.8;
}

.controls .prev {
  right: 80px;
}

.controls .next {
  right: 40px;
}

.indicator {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 10px;
  z-index: 2;
}

.indicator div {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: orange;
  border: 3px solid #000;
  border-radius: 50%;
  margin: 0px 3px;
  cursor: pointer;
}

.indicator div.active {
  background: #FFF;
}

@-webkit-keyframes caption-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes caption-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@-webkit-keyframes img-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes img-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.wrapper {
  height: 70vh;
  position: relative;
  z-index: 4;
  background-color: red;
}

@media only screen and (max-width: 1024px) {
  .slider-main-container {
    height: 100%;
  }
}
@media only screen and (max-width: 980px) {
  .caption-container, .image-container {
    width: 100%;
    left: 0px;
    top: 0px;
  }
  .image-container {
    opacity: 0.3;
  }
  .caption-container {
    background: transparent;
  }
  .caption-container h1 {
    font-size: 36px;
  }
}
@media only screen and (max-width: 650px) {
  .caption {
    width: 90%;
  }
  .controls .prev {
    right: 50px;
  }
  .controls .next {
    right: 10px;
  }
}
@media only screen and (max-width: 440px) {
  .caption {
    width: 95%;
  }
  .caption-container h1 {
    font-size: 34px;
  }
}
#token {
  background-color: black;
  text-align: center;
  margin: 4em 0;
}
#token h3 {
  color: white;
  font-size: clamp(1.6rem, 1.2vw, 2.2rem);
  padding: 0.4em;
  max-width: 60ch;
  margin: 0 auto -2.6em auto;
  line-height: 1.7;
  letter-spacing: 1.5px;
  font-family: "robotoregular";
}
#token .token_utilities {
  width: 100%;
  margin: 5% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  background-image: url("../assets/svg/star.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 373px) {
  #token .token_utilities {
    height: 36em;
    position: relative;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}
#token .token_utilities img {
  margin: 0 auto;
}
@media (max-width: 373px) {
  #token .token_utilities img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.roadmap-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000000;
  background-image: url("../assets/svg/star.svg");
  background-attachment: fixed;
  background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  -webkit-animation-name: fade-up;
          animation-name: fade-up;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.roadmap-section section h2 {
  color: #fff;
  font-size: clamp(3rem, 3vw, 5rem);
  font-family: "kalam" serif;
  text-align: center;
}
.roadmap-section section .container {
  margin: 1% 5%;
}
.roadmap-section section .reveal {
  position: relative;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  opacity: 0;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}
.roadmap-section .reveal.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.roadmap-section .first-quarter,
.roadmap-section .second-quarter,
.roadmap-section .third-quarter,
.roadmap-section .fourth-quarter,
.roadmap-section .fifth-quarter {
  margin: auto;
  margin-top: 10px;
  border-left: 5px solid gray;
  height: auto;
  color: #fff;
  font-size: clamp(1.6rem, 1.6vw, 2.2rem);
  font-family: kalam;
  line-height: 1.55;
  background: transparent;
  -webkit-transition: background 1s ease-out;
  transition: background 1s ease-out;
  padding: 3.5rem;
}
@media (min-width: 360px) {
  .roadmap-section .first-quarter,
.roadmap-section .second-quarter,
.roadmap-section .third-quarter,
.roadmap-section .fourth-quarter,
.roadmap-section .fifth-quarter {
    width: 85%;
  }
}
@media (min-width: 480px) {
  .roadmap-section .first-quarter,
.roadmap-section .second-quarter,
.roadmap-section .third-quarter,
.roadmap-section .fourth-quarter,
.roadmap-section .fifth-quarter {
    width: 80%;
  }
}
@media (min-width: 720px) {
  .roadmap-section .first-quarter,
.roadmap-section .second-quarter,
.roadmap-section .third-quarter,
.roadmap-section .fourth-quarter,
.roadmap-section .fifth-quarter {
    width: 70%;
  }
}
@media (min-width: 1025px) {
  .roadmap-section .first-quarter,
.roadmap-section .second-quarter,
.roadmap-section .third-quarter,
.roadmap-section .fourth-quarter,
.roadmap-section .fifth-quarter {
    width: 50%;
  }
}
.roadmap-section .first-quarter:hover,
.roadmap-section .second-quarter:hover,
.roadmap-section .third-quarter:hover,
.roadmap-section .fourth-quarter:hover,
.roadmap-section .fifth-quarter:hover {
  background: rgba(128, 128, 128, 0.372);
}
.roadmap-section .first-quarter h2,
.roadmap-section .second-quarter h2,
.roadmap-section .third-quarter h2,
.roadmap-section .fourth-quarter h2,
.roadmap-section .fifth-quarter h2 {
  text-align: center;
}
.roadmap-section .first-quarter li,
.roadmap-section .second-quarter li,
.roadmap-section .third-quarter li,
.roadmap-section .fourth-quarter li,
.roadmap-section .fifth-quarter li {
  list-style-type: circle;
}

footer {
  background-color: black;
  width: 100%;
  list-style-type: none;
  color: white;
}
footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  justify-items: start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0 3%;
  line-height: 2;
}
@media (min-width: 520px) {
  footer .container {
    text-align: center;
  }
}
@media (min-width: 720px) {
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
footer .container .socials,
footer .container .resources,
footer .container .jobs,
footer .container .contact {
  width: 100%;
}
footer .container .socials h2,
footer .container .resources h2,
footer .container .jobs h2,
footer .container .contact h2 {
  margin: 5% auto;
  font-size: clamp(1.8em, 2.1vw, 3.5em);
  font-family: "robotoregular";
  font-weight: 300;
}
footer .container .socials h2 span,
footer .container .resources h2 span,
footer .container .jobs h2 span,
footer .container .contact h2 span {
  font-size: 20px;
}
footer .container .socials li,
footer .container .resources li,
footer .container .jobs li,
footer .container .contact li {
  list-style: none;
  font-size: clamp(1.6rem, 1.2vw, 2.2rem);
  margin: 5%;
  font-family: "robotolight_italic";
}
footer .container .socials li a:link,
footer .container .resources li a:link,
footer .container .jobs li a:link,
footer .container .contact li a:link {
  text-decoration: none;
  color: gray;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}
footer .container .socials li a:visited,
footer .container .resources li a:visited,
footer .container .jobs li a:visited,
footer .container .contact li a:visited {
  text-decoration: none;
  color: gray;
}
footer .container .socials li a:hover,
footer .container .resources li a:hover,
footer .container .jobs li a:hover,
footer .container .contact li a:hover {
  text-decoration: none;
  color: aqua;
}
footer .container .socials li svg,
footer .container .resources li svg,
footer .container .jobs li svg,
footer .container .contact li svg {
  font-size: 24px;
}
footer .hr {
  width: 70%;
  margin: 1em auto;
  margin-bottom: 0;
}
footer .hr .copyright {
  line-height: 1.6rem;
  position: relative;
  outline: 0;
  border: 0;
  color: white;
  text-align: center;
  height: 2.1rem;
  opacity: 0.5;
}
footer .hr .copyright:before {
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#818078), to(transparent));
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
}
footer .hr .copyright:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: white;
  padding: 0 0.8em;
  line-height: 2.1rem;
  color: #818078;
  background-color: black;
}
footer p {
  text-align: center;
  padding: 1em;
}

.cross {
  text-decoration: line-through;
}/*# sourceMappingURL=styles.css.map */