:root {
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth !important;
  scroll-padding-top: var(--scroll-padding, 150px);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: black;
  overflow-x: hidden;
  overflow-y: scroll;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: transparent;
  border-radius: 10px;
  width: 15px;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #000000;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  border-right: 3px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  background-clip: content-box;
  background-color: #ffffff;
  width: 20px;
  transition: all 5s;
}
body::-webkit-scrollbar-thumb:hover {
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  box-sizing: border-box;
  background-clip: content-box;
  background-color: #ffffff;
  width: 20px;
}
@import "./preloader";
@import "./variables";
@import "./fonts";
@import "./links";
@import "./nav";
@import "./header";
@import "./article";
@import "./products";
@import "./token";
@import "./roadmap";
@import "./footer";
